@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  transition: 0.2s ease-in;
}
html{
  scroll-behavior: smooth;
}

:root {
  --col-blue: #0038ff;
  --col-sky: #007aff;
  --background-white: #fff;
  --button-login-ways: #333333;
  --button-blue: #0038ff;
}

/* global-classes */

.text-blue {
  color: var(--col-blue);
}

.text-sky {
  color: var(--col-sky);
}
a {
  text-decoration: none;
  color: unset;
}

main,
.login-page {
  overflow-x: hidden;
}
main,
.login-page::-webkit-scrollbar {
  display: none;
}

/* login page desktop */

main {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-page {
  height: 100%;
  width: 100%;
  display: flex;
  /* flex-direction: column; */
}

.impression-image {
  width: 44vw;
  min-height: 620px;
  height: 80%;
  position: relative;
  overflow: visible;
  box-shadow: -5px 4px 4px 0px rgba(0, 0, 0, 0.25);
  overflow: visible;
  display: flex;
  justify-content: center;
}
.impression-image-gradient-blue01 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.image-ellipse {
  height: 510px;
  width: 510px;
  position: absolute;
  bottom: -135px;
  right: -15px;
  background: var(--background-white);
  border-radius: 50%;
  overflow: visible;
}
.image-ellipse-login {
  height: 480px;
  position: relative;
  right: 22px;
  top: 20px;
}

.login-side {
  width: 56vw;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

}
.login-container {
  width: 360px;
  height: fit-content;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-direction: column;
  position: relative;
  gap: 30px;
  right: 100px;
}
.login-label {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.login-logo {
  width: 36px;
  height: 35px;
}
.login-company-name {
  color: #000;
  font-family: Roboto;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: flex;
  align-items: center;
}
.login-form {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
.greeting-msg {
  color: var(--black-9001-a-1-a-1-a, #1a1a1a);
  font-feature-settings: "liga" off, "clig" off;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 140% */
  margin-bottom: 24px;
}
.get-id,
.get-password,
.user-actions,
.login-options {
  width: 100%;
}
.get-id-label,
.get-password-label {
  color: var(--black-800333333, #333);
  font-feature-settings: "liga" off, "clig" off;
  font-family: Roboto;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px; /* 109.091% */
  letter-spacing: 0.3px;
  width: 100%;
  padding: 0 16px;
}
.get-id,
.get-password {
  display: flex;
  width: 360px;
  padding: 12px 12px 12px 16px;
  justify-content: space-between;
  align-items: center;
  background-color: #f2f2f2;
  border-radius: 6px;
}

.input-password {
  margin-top: 16px;
}
.get-id input[type="text"],
.get-password input[type="password"] {
  outline: none;
  border: none;
  height: inherit;
  width: inherit;
  background-color: inherit;
  color: #808080;
  font-feature-settings: "liga" off, "clig" off;
  font-family: Roboto;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 133.333% */
}

.user-actions {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-feature-settings: "liga" off, "clig" off;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 166.667% */
  letter-spacing: 0.3px;
}

.toogle-remember {
  display: flex;
  align-items: center;
  justify-content: unset;
  gap: 8px;
}
.toogle-btn {
  cursor: pointer;
  width: 40px;
  height: 20px;
  position: relative;
}
.toogle-bg {
  height: inherit;
  width: inherit;
}
.toogle-icon {
  position: absolute;
  left: 0; /* 20px */
  display: inline-block;
}
.remember-text {
  color: #1a1a1a;
  font-feature-settings: inherit;
  font-family: inherit;
  font-size: 1em;
  font-style: inherit;
  font-weight: inherit;
  line-height: inherit; /* 166.667% */
  letter-spacing: inherit;
}
.key-recovery {
  font-feature-settings: inherit;
  font-family: inherit;
  font-size: 1em;
  font-style: inherit;
  font-weight: inherit;
  line-height: inherit; /* 166.667% */
  letter-spacing: inherit;
  cursor: pointer;
}

.login-options {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
  flex-direction: column;
}

.form-submit-btn {
  display: flex;
  padding: 10px 24px;
  justify-content: center;
  align-items: center;
  background-color: var(--button-blue);
  border: none;
  border-radius: 6px;
  width: inherit;
  margin-top: 32px;
  cursor: pointer;
  color: #fff;
  font-feature-settings: "liga" off, "clig" off;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 133.333% */
  letter-spacing: 0.3px;
}
.stretch-line {
  width: 100%;
  height: 0.5px;
  background-color: rgba(0, 0, 0, 0.1);
  display: inline-block;
}
.login-ways {
  display: flex;
  padding: 10px 16px;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  background: var(--button-login-ways);
  width: 100%;
  gap: 8px;
}
.logo-login-ways {
  width: 20px;
  height: 20px;
}
.login-ways-text {
  color: #fff;
  text-align: center;
  font-feature-settings: "liga" off, "clig" off;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 166.667% */
  letter-spacing: 0.3px;
}
.redirect-register {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: fit-content;
  margin-top: 24px;
  gap: 8px;
}
.register-text {
  font-feature-settings: "liga" off, "clig" off;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 166.667% */
  letter-spacing: 0.3px;
  color: #1a1a1a;
}
.register-link {
  font-feature-settings: "liga" off, "clig" off;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 166.667% */
  letter-spacing: 0.3px;
}
.side-image-decoration {
  position: absolute;
  right: -20px;
  bottom: -250px;
}
